@use "../abstract/variables";
@use "../abstract/mixins";

header {
    padding: 2rem;
    background: variables.$gradiente-primario;

    nav {
        width: 100%;
        @include mixins.display-flex();

        img {
            height: 5.5rem;
            width: 270.43px;
        }
        .linha {
            background-color: variables.$cor-primaria;
            width: 80%;
            height: 1px;
            display: block;
            margin: 1rem 0rem;
        }

        ul {
            @include mixins.display-flex(row, center, center);

            li {
                margin: 0rem 1.5rem;
                list-style-type: none;

                a {
                    text-decoration: none;
                    @include mixins.ff-fs-cl-fw(
                        variables.$ft-textos,
                        1rem,
                        variables.$cor-primaria,
                        500
                    );
                    &:hover {
                        font-weight: 900;
                        transition: 500ms;
                    }
                }
            }
        }
    }
    #home {
        @include mixins.margem-central(80%);
        max-width: 65rem;
        @include mixins.display-flex(row, space-between, center);

        .textos-home {
            h1 {
                @include mixins.ff-fs-cl-fw(
                    variables.$ft-titulos,
                    2.625rem,
                    variables.$cor-primaria
                );
                line-height: 63px;
                text-align: left;
                margin-bottom: 2rem;
            }

            span {
                color: variables.$cor-secundaria;
            }

            button {
                background-color: variables.$cor-secundaria;
                @include mixins.ff-fs-cl-fw(
                    variables.$ft-textos,
                    1.375rem,
                    variables.$cor-branca,
                    600
                );
                padding: 1rem 3rem;
                border-radius: 2.5rem;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: variables.$cor-terciaria;
                    transition: 500ms;
                }
            }
        }
        .img-home {
            max-width: 29.625rem;
            img {
                width: 100%;
            }
        }
    }
}
