@mixin display-flex(
    $flex-direction: column,
    $justify-content: center,
    $align-items: center
) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin margem-central($width) {
    margin: 0 auto;
    width: $width;
}
@mixin ff-fs-cl-fw($f-family, $f-size, $f-color, $f-weight: 400) {
    font-family: $f-family;
    font-size: $f-size;
    color: $f-color;
    font-weight: $f-weight;
}
