body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 2rem;
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav img {
  height: 5.5rem;
  width: 270.43px;
}
header nav .linha {
  background-color: #0c0421;
  width: 80%;
  height: 1px;
  display: block;
  margin: 1rem 0rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  margin: 0rem 1.5rem;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #0c0421;
  font-weight: 500;
}
header nav ul li a:hover {
  font-weight: 900;
  transition: 500ms;
}
header #home {
  margin: 0 auto;
  width: 80%;
  max-width: 65rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #home .textos-home h1 {
  font-family: "Krona One", sans-serif;
  font-size: 2.625rem;
  color: #0c0421;
  font-weight: 400;
  line-height: 63px;
  text-align: left;
  margin-bottom: 2rem;
}
header #home .textos-home span {
  color: #4e75ff;
}
header #home .textos-home button {
  background-color: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  border: none;
}
header #home .textos-home button:hover {
  cursor: pointer;
  background-color: #85a0ff;
  transition: 500ms;
}
header #home .img-home {
  max-width: 29.625rem;
}
header #home .img-home img {
  width: 100%;
}

#nosso-espaco {
  margin: 0 auto;
  width: 80%;
}
#nosso-espaco .detalhes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}
#nosso-espaco .detalhes .imgs-espaco {
  width: 31.25rem;
}
#nosso-espaco .detalhes .espaco-textos {
  width: 31.25rem;
}
#nosso-espaco .detalhes .espaco-textos .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.9375rem;
  color: #4e75ff;
  font-weight: 400;
}
#nosso-espaco .detalhes .espaco-textos .infos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #0c0421;
  font-weight: 400;
  line-height: 2.0625rem;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}

#servico {
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
  padding: 5rem 0;
}
#servico .cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
}
#servico .cards .card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  border-radius: 2rem;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  text-align: center;
}
#servico .cards .card-titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.6rem;
  color: #0c0421;
  font-weight: 400;
  line-height: 2.4rem;
}
#servico .cards .card-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
  font-weight: 400;
  line-height: 2rem;
}

#desconto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0rem;
  text-align: center;
}
#desconto .desconto-form h4 {
  font-family: "Krona One", sans-serif;
  font-size: 1.9375rem;
  color: #0c0421;
  font-weight: 400;
  margin: 0rem 0rem 1.5rem 0rem;
}
#desconto .desconto-form p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #0c0421;
  font-weight: 400;
}
#desconto .desconto-form .input-btn {
  width: 790px;
  height: 65px;
  border: 1px solid #4e75ff;
  border-radius: 65px;
  margin: 0 auto;
  display: inline-flex;
}
#desconto .desconto-form .input-btn input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
  font-weight: 400;
  width: 513.5px;
  border: none;
  outline: none;
  margin-left: 2rem;
}
#desconto .desconto-form .input-btn button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  width: 276.5px;
  background: #4e75ff;
  border-radius: 0 65px 65px 0;
  border: none;
}

#contatos {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 5rem;
}
#contatos .contatos-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}
#contatos .contatos-imgs img {
  width: 100%;
}
#contatos .contatos-imgs img:first-child {
  grid-column: span 2;
}
#contatos .contatos-form {
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
  padding: 2rem 3rem;
  border: 1px solid #ffffff;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1.5rem;
}
#contatos .contatos-form .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.9375rem;
  color: #4e75ff;
  font-weight: 400;
  margin: 0rem;
}
#contatos .contatos-form .infos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #0c0421;
  font-weight: 400;
  line-height: 2.0625rem;
  margin: 0rem;
}
#contatos .contatos-form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
}
#contatos .contatos-form .inputs .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
#contatos .contatos-form .inputs .form-group label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: #0c0421;
  font-weight: 600;
}
#contatos .contatos-form .inputs .form-group input, #contatos .contatos-form .inputs .form-group textarea {
  border: none;
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  color: #0c0421;
  font-weight: 400;
  padding: 1rem;
}
#contatos .contatos-form .inputs .form-group textarea {
  min-height: 7.5rem;
}
#contatos .contatos-form .inputs button {
  background-color: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #ffffff;
  font-weight: 600;
  padding: 1.5rem 0rem;
  border-radius: 2.5rem;
  border: none;
}
#contatos .contatos-form .inputs button:hover {
  cursor: pointer;
  background-color: #85a0ff;
  transition: 500ms;
}

footer {
  background-color: #e8f5c8;
  padding: 1.5rem 0rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  color: #0c0421;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
